.menu {
	background: #ffffff;
}

.menu__link {
	display: block;
	padding: 25px 0;
  padding-left: 23%;

	font-family: 'Opensans Bold', sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: bold;
	text-decoration: none;
	
	color: #000000;
	border-bottom: 1px solid #ececec;

	&:hover {
		color: rgba(0, 0, 0, 0.5);
	}

	&:active {
		color: rgba(0, 0, 0, 0.3);
	}
}

.menu__links--hidden {
	display: none;
}

@media (min-width: 690px)  {
	.menu {
	  width: 55%;
		background: none;
	}

	.menu__link {
		display: inline-block;
		margin-right: 25px;
		padding: 0;
		border: none;
	}

	.menu__links--for-desktop{
		display: none;
	}
}

@media (min-width: 1190px)  {
	.menu {
		width: 45%;
    padding-top: 30px;
    padding-left: 8%;
    box-sizing: border-box;
    border-bottom: 1px solid #ececec;
	}

	.menu__links--for-desktop {
		display: block;
		width: 65%;
    position: absolute;
    top: 105px;

    & .menu__link {
			margin-right: 58px;
    	font-size: 15px;
  	}
	}

	.menu__link {
		margin-right: 68px;
		font-size: 17px;
    line-height: 24px;
	}
	
	.menu__link--vertical-line {
		position: relative;
	}

	.menu__link--vertical-line::after {
		content: "";
		position: absolute;
    top: -30px;
    right: -36px;
    width: 1px;
    height: 85px;
    background: #ececec;
	}
}