.menu-toggle {
	position: absolute;
  top: 24px;
  right: 26px;
  width: 30px;
  height: 30px;
  cursor: pointer;

	font-size: 0;
	border: none;
	background: transparent;
}

.menu-toggle__icon {
    width: 20px;
    height: 20px;
    margin-top: 4px;
    margin-left: -2px;
}

.visually-hidden {
	display: none;
}

@media (min-width: 690px)  {
	.menu-toggle {
		display: none;
	}
}