body {
  margin: 0 auto; }

.header__inner {
  position: relative;
  width: 100%;
  height: 79px;
  border-bottom: 1px solid #ececec; }

.header__add-info {
  display: none; }

.mobile-hidden {
  display: block; }

@media (min-width: 690px) {
  .header {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .header::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 100%;
    height: 24px;
    background: url("../../../img/zigzag-fill.png") repeat; }
  .header__inner {
    width: 48%;
    height: 85px;
    -webkit-box-ordinal-group: -5;
    -webkit-order: -6;
    -ms-flex-order: -6;
    order: -6; }
  .header__search {
    -webkit-box-ordinal-group: -4;
    -webkit-order: -5;
    -ms-flex-order: -5;
    order: -5; }
  .header__user-block {
    -webkit-box-ordinal-group: -3;
    -webkit-order: -4;
    -ms-flex-order: -4;
    order: -4; }
  .header__menu {
    position: absolute;
    top: 107px;
    left: 45px;
    -webkit-box-ordinal-group: -2;
    -webkit-order: -3;
    -ms-flex-order: -3;
    order: -3; }
  .header__add-info {
    display: block;
    position: absolute;
    right: 7%;
    top: 90px;
    -webkit-box-ordinal-group: -1;
    -webkit-order: -2;
    -ms-flex-order: -2;
    order: -2;
    font-family: 'Opensans', sans-serif;
    font-size: 15px;
    line-height: 24px;
    color: #444444; } }

@media (min-width: 1250px) {
  .header__inner {
    width: 267px;
    height: auto;
    -webkit-box-ordinal-group: -4;
    -webkit-order: -5;
    -ms-flex-order: -5;
    order: -5; }
  .header__search {
    -webkit-box-ordinal-group: -3;
    -webkit-order: -4;
    -ms-flex-order: -4;
    order: -4; }
  .header__user-block {
    -webkit-box-ordinal-group: -2;
    -webkit-order: -3;
    -ms-flex-order: -3;
    order: -3; }
  .header__menu {
    -webkit-box-ordinal-group: -5;
    -webkit-order: -6;
    -ms-flex-order: -6;
    order: -6;
    position: static;
    width: 530px; }
  .header__add-info {
    right: 8.5%; } }

.logo {
  position: absolute;
  width: 86px;
  height: 35px;
  top: 20px;
  left: 0;
  right: 0;
  margin: auto; }
  .logo:hover {
    opacity: 0.5; }
  .logo:active {
    opacity: 0.2; }

.logo__icon {
  width: 86px;
  height: 35px; }

@media (min-width: 690px) {
  .logo {
    width: 137px;
    height: 46px;
    margin-top: -11px;
    margin-left: 14px;
    left: 0; }
  .logo__icon {
    width: 150px;
    height: 75px; } }

.menu {
  background: #ffffff; }

.menu__link {
  display: block;
  padding: 25px 0;
  padding-left: 23%;
  font-family: 'Opensans Bold', sans-serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #000000;
  border-bottom: 1px solid #ececec; }
  .menu__link:hover {
    color: rgba(0, 0, 0, 0.5); }
  .menu__link:active {
    color: rgba(0, 0, 0, 0.3); }

.menu__links--hidden {
  display: none; }

@media (min-width: 690px) {
  .menu {
    width: 430px;
    background: none; }
  .menu__link {
    display: inline-block;
    margin-right: 25px;
    padding: 0;
    border: none; }
  .menu__links--for-desktop {
    display: none; } }

@media (min-width: 1250px) {
  .menu {
    width: 43%;
    padding-top: 30px;
    padding-left: 8%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #ececec; }
  .menu__links--for-desktop {
    display: block;
    position: absolute;
    top: 105px; }
    .menu__links--for-desktop .menu__link {
      margin-right: 53px;
      font-size: 16px; }
  .menu__link {
    margin-right: 65px;
    font-size: 18px;
    line-height: 24px; }
  .menu__link--vertical-line {
    position: relative; }
  .menu__link--vertical-line::after {
    content: "";
    position: absolute;
    top: -30px;
    right: -36px;
    width: 1px;
    height: 85px;
    background: #ececec; } }

.menu-toggle {
  position: absolute;
  top: 24px;
  right: 26px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  font-size: 0;
  border: none;
  background: transparent; }

.menu-toggle__icon {
  width: 20px;
  height: 20px;
  margin-top: 4px;
  margin-left: -2px; }

.visually-hidden {
  display: none; }

@media (min-width: 690px) {
  .menu-toggle {
    display: none; } }

.search {
  position: relative; }

.search__link {
  display: block;
  padding: 25px 0;
  padding-left: 23%;
  font-family: 'Opensans Bold', sans-serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #000000;
  border-bottom: 1px solid #ececec; }
  .search__link:hover {
    color: rgba(0, 0, 0, 0.5); }
  .search__link:hover + .search__icon {
    fill: #63d1bb; }
  .search__link:active {
    color: rgba(0, 0, 0, 0.3); }
  .search__link:active + .search__icon {
    fill: rgba(99, 209, 187, 0.4); }

.search__icon {
  position: absolute;
  top: 27px;
  left: 12.5%;
  width: 18px;
  height: 18px;
  fill: #d3d2d2; }

@media (min-width: 690px) {
  .search {
    border: 1px solid #ececec; }
  .search__link {
    padding: 25px 0;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 0;
    border: none; }
  .search__icon {
    top: 34px;
    left: 34px; } }

.user-block {
  position: relative; }

.user-block__link {
  display: block;
  padding: 25px 0;
  padding-left: 23%;
  font-family: 'Opensans Bold', sans-serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #000000;
  border-bottom: 1px solid #ececec; }
  .user-block__link:hover {
    color: rgba(0, 0, 0, 0.5); }
  .user-block__link:hover + .user-block__icon {
    fill: #63d1bb; }
  .user-block__link:active {
    color: rgba(0, 0, 0, 0.3); }
  .user-block__link:active + .user-block__icon {
    fill: rgba(99, 209, 187, 0.4); }

.user-block__icon {
  position: absolute;
  top: 27px;
  left: 12.5%;
  width: 18px;
  height: 18px;
  fill: #d3d2d2; }

.proposed-products__icon {
  display: block; }

@media (min-width: 690px) {
  .user-block {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    border-bottom: 1px solid #ececec; }
  .user-block__link {
    padding: 30px 0;
    padding-left: 28%;
    font-size: 18px;
    border: none; }
  .user-block__icon {
    top: 33px;
    left: 11.5%;
    width: 19px;
    height: 20px; } }

@media (min-width: 1250px) {
  .user-block__link {
    padding: 30px 0;
    padding-left: 23%; }
  .user-block__icon {
    left: 8.5%; } }

.header-content {
  background: #f9f9f9; }

.header-content__background {
  margin-top: 0;
  margin-bottom: 0;
  background: #f1f1f1;
  border: 1px solid transparent; }

.header-content__background--page-index {
  width: 100%;
  height: 280px;
  background: url("../../../img/hero-mobile@1x.jpg") no-repeat;
  background-position: center -25px; }

.header-content__title {
  display: block;
  margin: 0 10%;
  margin-top: 67px;
  font-family: 'Opensans Bold', sans-serif;
  font-size: 29px;
  line-height: 30px;
  text-align: center; }

.proposed-products__link {
  display: block;
  position: relative;
  height: 110px;
  padding-top: 26px;
  padding-left: 9%;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  font-family: 'Opensans Bold', sans-serif;
  font-size: 21px;
  line-height: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
  background: #63d1bb;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .proposed-products__link:hover {
    background: #59d5bc; }
  .proposed-products__link:hover .proposed-products__icon {
    fill: rgba(35, 31, 32, 0.5); }
  .proposed-products__link:active {
    color: rgba(255, 255, 255, 0.5); }
  .proposed-products__link:active .proposed-products__icon {
    fill: rgba(35, 31, 32, 0.1); }

.proposed-products__link--toy {
  background: #56c3b2; }
  .proposed-products__link--toy:hover {
    background: #46c1ae; }

.proposed-products__icon {
  position: absolute;
  top: 20px;
  right: 8%;
  width: 60px;
  height: 70px;
  fill: rgba(35, 31, 32, 0.2); }

@media (min-width: 690px) {
  .header-content {
    width: 100%; }
  .header-content__background--page-index {
    height: 626px;
    background: url("../../../img/hero-tablet.jpg") no-repeat;
    background-position: center 0; }
  .proposed-products {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 87%;
    margin: 0 auto; }
  .header-content__title {
    margin: 0px 18%;
    margin-top: 155px;
    font-size: 46px;
    line-height: 50px; }
  .proposed-products__link {
    width: 50%;
    height: 120px;
    padding-top: 33px;
    padding-left: 5.5%;
    padding-bottom: 76px;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0; }
  .proposed-products__icon {
    top: 26px;
    right: 9%; } }

@media (min-width: 1250px) {
  .header-content__title {
    margin: 0px 25%;
    margin-top: 157px;
    font-size: 56px;
    line-height: 57px; }
  .proposed-products {
    width: 84%; }
  .proposed-products__link {
    padding-top: 35px;
    padding-left: 3.5%; }
  .proposed-products__icon {
    right: 5%; } }
